$brand-primary:         #73A6A4;
$brand-secondary:       #6E6E6D;
$brand-tertiary:        #D9D6D0;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@media (max-width: 768px) {
  .container {
    max-width: 600px;
  }
}

.col-centered {
  margin: 0 auto;
  float: none;
}

.canvas {
  background: white;
  font-size: 1.75rem;
  display: inline-block;
  .new-message {
    border: 0;
    border-bottom: 1px solid lightgray;
    margin: 1em 0;
    &:focus {
      outline: 0;
    }
  }
}

.alert-danger {
  border: 0;
  font-size: 1.25rem;
  background: none;
  color: $brand-danger;
  padding: 0;
}

.navbar-nav {
  margin: 0;
}

.canvas,
.browse,
.results {
  ul {
    list-style: none;
    padding-left: 0;
    li {
      line-height: 1.6;
    }
  }
}

.canvas {
  form {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .canvas-format,
  .canvas-info {
    list-style: none;
    font-style: italic;
    font-size: 1.5rem;
    li {
      display: inline-block;
    }
  }
}

.active {
  font-weight: bold;
}

.results {
  font-size: 1.75rem;
  ul li {
    display: inline-block;
  }
}

.results-button {
  margin-bottom: 1em;
}

.panel {
  border: 0;
  background-color: $gray-lighter;
}

.panel-default>.panel-heading {
  background-color: $brand-secondary;
  color:white;
  transition: 300ms ease all;
  a {
    color: white;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  &:hover {
    background-color: darken($brand-primary, 6%);
    transition: 300ms ease all;
  }
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.user1 {color:darkseagreen};
.user2 {color: maroon};
.user3 {color: teal};
.user4 {color: peru};
.user5 {color: cadetblue};
.user6 {color:plum};
.user7 {color: coral};
