@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

h1 {
  color: black;
}

.canvas {
  background: white;
  font-size: 1.75rem;
  display: inline-block;
  ul {
    list-style: none;
    padding-left: 0;
    li {
      line-height: 1.6;
    }
  }
  .new-message {
    border: 0;
    border-bottom: 1px solid lightgray;
    width: 100%;
    &:focus {
      outline: 0;
    }
  }
}
