doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Exquisite Corpse
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700")
    link(rel="stylesheet" href="css/main.css")

  body
  .container
    h1 Hello World

  // build:js js/vendor.min.js
  // bower:js
  // endbower
  // endbuild
  // build:js js/main.min.js
  script(src="/scripts/index.js")
  // endbuild
