<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default profile">
      <div class="panel-body">

        <div class="col-sm-12">
          <h3>Your Stories</h3>
          <table class="table table-hover story-control-table">
            <tr ng-repeat="story in profile.stories
            | filter:{'info': {'creator': profile.user.profile.username}}">
              <td><a href="#/story/{{story.$id}}">{{story.info.name}}</a></td>
              <td><button class="btn btn-primary btn-xs" ng-click="profile.removeStory(story.$id)"><i class="fa fa-times"></i> Delete</button></td>
            </tr>
          </table>

      </div>
    </div>
  </div>
</div>
