<div class="sidebar-wrapper" ng-controller="NavCtrl as nav">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="#/">Exquisite Corpse</a></li>
    <li ng-show="nav.isLoggedIn()"><a href="#/story/new" ng-click="nav.smallDeviceSidebarToggle()">New Story</a></li>
    <li ng-show="nav.isLoggedIn()"><a ng-click="nav.randomStory(); nav.smallDeviceSidebarToggle()">Random Story</a></li>
    <li ng-hide="nav.isLoggedIn()" data-match-route="/login"><a href="#/login" ng-click="nav.smallDeviceSidebarToggle()">Login</a></li>
    <li ng-hide="nav.isLoggedIn()" data-match-route="/login"><a href="#/register" ng-click="nav.smallDeviceSidebarToggle()">Register</a></li>
    <li ng-show="nav.isLoggedIn()" data-match-route="/logout"><a href="#/logout" ng-click="nav.smallDeviceSidebarToggle()">Logout</a></li>
    <li ng-show="nav.isLoggedIn()" data-match-route="/profile"><a href="#/profile" ng-click="nav.smallDeviceSidebarToggle()">Profile</a></li>
  </ul>
</div>
