<div ng-include="'nav/navbar.html'"></div>

<div class="container">

  <div class="row">
    <div class="col-sm-12 col-md-4 col-centered">
      <div class="panel panel-default">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
          <form name="loginForm" ng-submit="loginForm.$valid && auth.login()" novalidate>

            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" placeholder="corpseguy4ever" ng-model="auth.user.username">
            </div>

            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="your@email.com" ng-model="auth.user.email" required>
            </div>

            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="p@$$w0rd" ng-model="auth.user.password" required>
            </div>

            <div class="form-group">
              <div class="btn btn-small btn-success" ng-click="auth.register()">Register</div>
              <input class="btn btn-small btn-primary" type="submit" class="button small" value="Login">
              <div class="btn btn-small btn-warning" ng-click="auth.resetPassword()">Forgot Password?</div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
