<div class="row" ng-controller="AuthCtrl as auth" bs-collapse ng-show="nav.isLoggedIn()">
  <div class="col-sm-12">
    <div class="panel panel-default browse">
      <div class="panel-heading" bs-collapse-toggle>Login</div>
      <div class="panel-body" bs-collapse-target>

        <form name="loginForm" ng-submit="auth.login()" novalidate>
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="corpseguy4ever" ng-model="auth.user.username" required>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="your@email.com" ng-model="auth.user.email" required>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="p@$$w0rd" ng-model="auth.user.password" required>
          </div>
          <div class="form-group">
            <div class="btn btn-small btn-success" ng-click="auth.register()">Register</div>
            <input class="btn btn-small btn-primary" type="submit" class="button small" value="Login">
            <div class="btn btn-small btn-warning" ng-click="auth.resetPassword()">Forgot Password?</div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
