<div ng-include="'nav/navbar.html'"></div>

<div class="container">

<div class="row">
  <form name="loginForm" ng-submit="auth.login()" novalidate>
    <h2>Login</h2>

    <label>Username</label>
    <input type="text" placeholder="corpseguy4ever" ng-model="auth.user.username" required>

    <label>Email</label>
    <input type="email" placeholder="your@email.com" ng-model="auth.user.email" required>

    <label>Password</label>
    <input type="password" placeholder="p@$$w0rd" ng-model="auth.user.password" required>

    <div class="btn btn-small btn-success" ng-click="auth.register()">Register</div>
    <input class="btn btn-small btn-primary" type="submit" class="button small" value="Login">
    <div class="btn btn-small btn-warning" ng-click="auth.resetPassword()">Forgot Password?</div>

    </ul>
  </form>
</div>
</div>
