    <div class="panel panel-default">
      <div class="panel-heading">New Story</div>
      <div class="panel-body">
        <form name="newStoryForm" class="new-story-form" ng-submit="newStoryForm.$valid && story.createStory()" novalidate>
          <div class="form-group validation-included">
            <label>Name</label>
            <input name="storyName" class="minimal" type="text" placeholder="My Excellent Adventure" ng-model="story.storyName" ng-maxlength="50" required />
            <div ng-include="'validation/storyName.errors.html'"></div>
          </div>
          <div class="form-group">
            <label>Build your sentence format (or <a ng-click="story.defaultPos()">use the default</a>)</label>
            <ul>
              <li ng-repeat="pos in story.posArray" >
                <button class="btn btn-sm btn-primary" ng-click="story.addPos(pos)"
                 data-template="includes/popovers/popover.{{pos}}.html" data-trigger="hover" data-auto-close="1" data-delay=250 data-placement="bottom" bs-popover>
                  {{pos}}
                </button>
              </li>
            </ul>
            <div class="fake-textarea">
              <ul>
                <li ng-repeat="word in story.newStoryPosArray track by $index">
                  <button class="btn btn-sm btn-primary" ng-click="story.deletePos($index)">{{word}}
                    <i class="fa fa-times"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group validation-included">
            <div class="col-sm-6">
              <label>Sentences needed to view</label>

              <select class="form-control" ng-model="story.storyWordsNeeded" required>
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>

<!--               <input name="storySentenceCount" class="minimal" type="text" ng-model="story.storyWordsNeeded" placeholder="5" ng-pattern="/^d{0,9}?$/" required>
 -->              <div ng-include="'validation/sentenceCount.errors.html'"></div>
            </div>

            <div class="col-sm-6">
              <label>Private?</label>
              <div class="checkbox">
                <label class="checkbox-inline">
                  <input type="checkbox" ng-model="story.private" value="true"> Yes
                </label>
              </div>
            </div>
          </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary">
            </div>
        </form>
      </div>
    </div>
