    <div class="panel panel-default">
      <div class="panel-heading">New Story</div>
      <div class="panel-body">
        <form name="newStoryForm" class="new-story-form" ng-submit="newStoryForm.$valid && story.createStory()" novalidate>
          <div class="form-group">
            <label>Name</label>
            <input name="storyName" class="form-control" type="text" placeholder="My Story" ng-model="story.storyName" required>
          </div>
          <div class="form-group">
            <label>Build your sentence format (or <a ng-click="story.defaultPos()">use the defualt</a>)</label>
            <ul>
              <li ng-repeat="pos in story.posArray" >
                <button class="btn btn-xs btn-primary" ng-click="story.addPos(pos)"
                 data-template="includes/popovers/popover.{{pos}}.html" data-trigger="hover" data-auto-close="1" data-delay=250 data-placement="bottom" bs-popover>
                  {{pos}}
                </button>
              </li>
            </ul>
            <div class="fake-textarea">
              <ul>
                <li ng-repeat="word in story.newStoryPosArray track by $index">
                  <button class="btn btn-xs" ng-click="story.deletePos($index)">{{word}}
                    <i class="fa fa-times"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <label>Minumum word count</label>
            <input name="storyWordCount" class="form-control" type="number" ng-model="story.storyWordsNeeded" placeholder="20" required>
          </div>
          <div class="checkbox">
            <label class="checkbox-inline">
              <input type="checkbox" ng-model="story.private" value="true"> Private
            </label>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary">
          </div>

          <div ng-messages="NewStoryForm.message.$error" ng-if="NewStoryForm.message.$dirty" role="alert">
            <div ng-message="required" class="alert alert-danger">Type your word and press enter!</div>
            <div ng-message="maxlength" class="alert alert-danger">Your word too long. Words must be less than 20 characters.</div>
            <div ng-message="pattern" class="alert alert-danger">White space detected. You can only submit one word at a time.</div>
          </div>

        </form>
      </div>
    </div>
