<div ng-include="'nav/navbar.html'"></div>

<div class="container">

  <div class="row">

    <div class="col-sm-12 col-md-8">

      <div class="row">
        <div class="col-sm-12">
          <div class="canvas">

            <h1>{{canvas.info.name}}</h1>
            <p>{{canvas.info.format.join(" ")}}</p>
            <ul>
              <li ng-repeat="message in canvas.messages
              | limitTo: -1">{{message.text}}</li>
              <form name="canvasForm" ng-submit="canvasForm.$valid && canvas.addMessage()" novalidate>
                <input class="new-message" name="message"
                type="text"
                placeholder="{{canvas.info.format[canvas.info.counter]}}"
                ng-model="canvas.newMessageText"
                ng-focus="canvas.toggleOn()"
                ng-blur="canvas.toggleOff()"
                ng-minlength=1 required />
              </form>
            </ul>
            <p>Total lines: {{canvas.messageCount}}</p>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-sm-12">
          <div bs-collapse start-collapsed=true>
            <a class="btn btn-primary" bs-collapse-toggle ng-click="canvas.users()">Results</a>
            <div class="results" bs-collapse-target>
              <p><ul>
                <li ng-repeat="message in canvas.messages" class="{{message.user}}">{{message.text}}&nbsp;</li>
              </ul></p>
            </div>
          </div>
        </div>
      </div>


    </div><!--end col-md-8 -->

    <div class="col-sm-12 col-md-4">

      <div ng-include="'login/login-sidebar.html'"></div>

      <div ng-include="'canvas/controls.html'"></div>

      <div ng-include="'browse/browse.html'"></div>

    </div><!--end col-md-4 -->

  </div>
