<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default canvas" ui-view></div>

    <hr>

    <div class="row">
      <div class="col-sm-12">
        <div bs-collapse start-collapsed=true>
          <button class="btn btn-primary results-button" bs-collapse-toggle data-ng-disabled="data.info.wordCount < data.info.wordsNeeded" ng-click="canvas.users()">Results</button>
          <div class="results" bs-collapse-target>
            <p>
              <ul>
                <li ng-repeat="message in data.messages" class="user{{canvas.userNumber(message.user) + 1}}">{{message.text}}&nbsp;</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
