<form name="canvasForm" class="canvas-form" ng-submit="canvasForm.$valid && canvas.addMessage()" novalidate>
  <input class="new-message" name="message" placeholder="{{data.info.format[data.info.counter]}}" ng-model="canvas.newMessageText" ng-focus="canvas.toggleOn()" ng-blur="canvas.toggleOff()" ng-maxlength="20" ng-pattern="/^[a-zA-Z0-9\S]*$/" required />
  <div ng-include="'canvas/canvas.validation.html'"></div>
</form>

<div class="row">
  <div class="col-sm-12">
      <div class="results">
          <ul ng-class="{'blur': data.info.wordCount < data.info.wordsNeeded}">
            <li ng-repeat="message in data.messages" class="user{{canvas.userNumber(message.user) + 1}} large">{{message.text}}&nbsp;</li>
          </ul>
    </div>
  </div>
</div>
